# env
env

# DS_Store
*.DS_Store

# Jupyter checkpoints
*.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Model files
*.pkl
*.joblib

# Misc (playground/large data file)
data/bluebook_for_bulldozers/*
data/bluebook-for-bulldozers/
*.parquet
*__MACOSX*
notebook-playground.ipynb
